assertpy==1.0
black==22.1.0
bump2version==1.0.1
click==8.0.4
coverage==6.3.2
flake8==6.0.0
flake8-import-order==0.18.2
isort==5.11.3
pep8==1.7.1
pep8-naming==0.13.3
pydocstyle==6.1.1
sort-requirements==1.3.0
twine==4.0.2
